.user-card {
    max-width: 250px;
    margin: 10px;
    display: inline-block;
  }
  
  .user-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }