<div class="title-toolbar text-center py-3">
  <div class="invisible" routerLink="/dashboard" routerLinkActive="visible">
    <i class="material-icons title-icon">dashboard</i>
    <h4 class="title">Dashboard</h4>
  </div>
  <div class="invisible" routerLink="/explore" routerLinkActive="visible">
    <i class="material-icons title-icon">explore</i>
    <h4 class="title">Explore</h4>
  </div>
  <div class="invisible" routerLink="/chat" routerLinkActive="visible">
    <i class="material-icons title-icon">chat</i>
    <h4 class="title">Chat</h4>
  </div>
  <div class="invisible" routerLink="/people" routerLinkActive="visible">
    <i class="material-icons title-icon">people</i>
    <h4 class="title">people</h4>
  </div>
  <div class="invisible" routerLink="/settings" routerLinkActive="visible">
    <i class="material-icons title-icon">settings</i>
    <h4 class="title">Settings</h4>
  </div>
</div>
