.title-toolbar{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    z-index: 1;
    background-image: url(http://www.annular.themeseason.com/header-bg.6b195cc4074de3a0c0bd.png);
    background-blend-mode: overlay;
    background-size: 300px;
    background-color: #009688;
  }
  .title{
    font-size: 20px;
    font-weight: 300;
    max-width: 580px;
    text-align: center;
    margin: 0 auto;
    color:#fff;
  }
  .title-icon{
    font-size: 48px !important;
    line-height: 48px;
    height: 48px;
    width: 48px;
    vertical-align: middle;
    color:#fff;
  }
  .invisible{
    display: none;
  }
  .visible{
    display: block !important;
  }
