.img{
    width: 100%;
}
.hide{
    display: none;
}
input[type="file"] {
    /* visibility: hidden; */
    display: none;
  }
  
  .image-preview {
    height: 5rem;
    margin: 1rem;
  }
  
  .image-preview img {
    height: 100%;
  }
.snapshot{
  width: 100%;

}
  