<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- <div *ngIf="!toggleCamera"> -->
      <button mat-button type="button" (click)="filePicker.click()"><mat-icon>panorama</mat-icon>   Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)"/>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="primary" (click)="toggleCamera = !toggleCamera"><mat-icon>photo_camera</mat-icon>   Take Picture</button>
    <!-- </div> -->
  </form>
  <div style="text-align:center" *ngIf="toggleCamera">
      <div *ngIf="!webcamImage">
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"
        ></webcam>
        <br/>
        <button mat-raised-button (click)="triggerSnapshot();"> <mat-icon>photo_camera</mat-icon>Take A Snapshot</button>
        <!-- <button mat-raised-button  (click)="toggleWebcam();">Toggle Webcam</button> -->
        <br/>
        <button mat-icon-button  (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable"><mat-icon>switch_camera</mat-icon></button>
        <br/>
        <!-- <button mat-raised-button (click)="showNextWebcam(deviceId);">Activate</button> -->
      </div>
    </div>

    <ngx-croppie *ngIf="croppieImage" #ngxCroppie [croppieOptions]="croppieOptions" 
    [imageUrl]="croppieImage"  (result)="newImageResultFromCroppie($event)"></ngx-croppie>

    <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{error | json}}</li>
    </ul>
    
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button *ngIf="editedImage" mat-button cdkFocusInitial (click)="onSaveImage()" >Save</button>
</div>
