<mat-card-content class="card-content">
  <form class="form" #form="ngForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" autocomplete="email">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
    </form>
</mat-card-content>
<mat-card-actions class="card-actions text-center">
<button mat-button color="primary" routerLink="/signup">Crear Cuenta</button>
<span class="fill-remaining-space"></span>
<button type="submit" mat-raised-button color="primary">Iniciar Sesion</button>
</mat-card-actions>
  <!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>